pipeline/pipelineendtoend.json
{
	"name": "pipelineendtoend",
	"properties": {
		"activities": [
			{
				"name": "training",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "runONNXmodel",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "aa",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "notebookToPrepareModel",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "training",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "GetModelFromAMLPorcupine",
						"type": "NotebookReference"
					},
					"parameters": {
						"experiment_name": {
							"value": {
								"value": "@activity('training').output.status.Output.result.exitValue",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "SQL pool stored procedure1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "notebookToPrepareModel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "mypool",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[procedureToGetNewModel]",
					"storedProcedureParameters": {
						"artifactlocation": {
							"value": {
								"value": "@activity('notebookToPrepareModel').output.status.Output.result.exitValue",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-12T14:56:59Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}